<h1>Listing users INDEX</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Money</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.password %></td>
    <td><%=h user.money %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

Logged = <%= session[:logged] %><br />

<% if session[:logged] %>
	
	<%= link_to 'My profile', :action => :me %>
	<%= link_to 'Disconect', :action => :unlog %>

<% else %>

	Loggin :<br/>
	<% form_tag '/home/loggin' do %>

		NickName: <%= text_field "user", "name" %>
		Password: <%= text_field "user", "password" %>

		<%= submit_tag 'Loggin' %>

	<% end %>
	<br/>

	Sign up : <%= link_to 'Sign Up!', :action => :signup_form %>

<% end %>

<br/>

